.Day {
  padding: 5px;
  font-size: 16px;
  color: #222;
  display: block;
  border-radius: 0.5em;
  width: 30px;
  height: 30px;
  text-align: center;
  box-sizing: border-box;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
}

.Today:not(.Focused):not(.ActiveDate) {
  outline: 2px solid rgb(17, 194, 253);
}

.Day:hover {
  background-color: rgb(17, 194, 253);
  color: #fff;
}

.Day.Focused {
  background-color: rgb(6, 92, 252);
  color: #fff
}

.ActiveDate {
  background-color: rgb(26, 158, 0);
  color: #fff;
}

.ContainsSearchedTraining {
  background-color: rgb(245, 245, 89);
  color: #333;
}

.WithoutBackground {
  background-color: transparent;
  color: #333;
}