@import url(https://fonts.googleapis.com/css?family=Rubik:regular,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: inherit;
}

html,
body {
  width: 100%;
  min-height: 100%;
  height: 1px;
  font-size: 14px;
}

#root {
  width: 100%;
  height: 100%;
}